<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../template/head.ejs %>
</head>
<body>
	<% include ../template/nav.ejs %>

<div class="container">
 <hr>
 <h1>Who are we?</h1>
 <p>We are computer science students of Technische Hochschule Mittelhessen. We develop this website wholeheartedly. This website might looks a bit dull and boring as we are new to Bootstrap and still learning HTML and Node.js. So we hope in the future this website will be better as we progress learning new things.</p>
 <hr>
 <h1>More info?</h1>
 <p>We have <a href="/dsgvo">DSGVO</a> page and <a href="/impressum">Impressum</a> page. Impressum is a legal notice while DSGVO (or GDPR) is a data protection notice. Both are needed for a website hosted in Germany as the regulation stated so. But since we do <b>NOT</b> process any data, you don't need to worry.</p>
 <hr>
</div>
	<% include ../template/foot.ejs %>
</body>
</html>
